<% blocks.each do |block| %>
  <% case block["type"] %>
  <% when "paragraph" %>
    <p><%= block["content"] %></p>
  <% when "heading" %>
    <%= content_tag("h#{block["level"].to_i}", block["content"]) %>
  <% when "ul" %>
    <ul>
      <% block["items"].each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  <% when "ol" %>
    <ol>
      <% block["items"].each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ol>
  <% when "image" %>
    <% blob = ActiveStorage::Blob.find_signed(block["signed_id"]) rescue nil %>
    <% if blob %>
      <figure>
        <%= image_tag url_for(blob), alt: block["alt"].to_s %>
        <% if block["alt"].present? %>
          <figcaption><%= block["alt"] %></figcaption>
        <% end %>
      </figure>
    <% end %>
  <% end %>
<% end %>
